@using AgriCureSystem.Models
@using AgriCureSystem.Utility

@model IEnumerable<ApplicationUser>



@section Scripts {
    <partial name="_NotificationPartial.cshtml">
}

    <div class="container">
        <div class="row mb-3 align-items-center my-3">
            <div class="col-md-6">
                <h2 class="display-6">All Users</h2>
            </div>


            

        </div>

        <div class="row">
            <div class="col-12">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.FirstName @item.LastName</td>
                                <td>@item.Email</td>
                                @if (item.LockoutEnabled)
                                {
                                                                <td>
                                                                    <span class="badge text-bg-success">Active</span>
                                                                </td>
                                }
                                else
                                {
                                                                <td>
                                                                    <span class="badge text-bg-danger">InActive</span>
                                                                </td>
                                }

                                @if (User.IsInRole(SD.SuperAdmin) || User.IsInRole(SD.Admin))
                                {

                                @if (item.LockoutEnabled)
                                {
                                    <td>
                                        <a href="/Admin/User/LockUnlock/@item.Id"
                                           class="btn btn-danger btn-delete"
                                           data-id="@item.Id">Lock</a>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <a href="/Admin/User/LockUnlock/@item.Id"
                                           class="btn btn-danger btn-Success"
                                           data-id="@item.Id">UnLock</a>
                                    </td>
                                }

                             
                                }
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll('.btn-delete');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function (e) {
                    e.preventDefault();

                    const deleteUrl = this.getAttribute('href');

                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Yes, Lock it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = deleteUrl;
                        }
                    });
                });
            });
        });
    </script>

